export(accession2gi)
export(as.DNAbin.primerTree)
export(as.character.primerTree)
export(content.primerTree)
export(get_sequence)
export(get_sequences)
export(get_taxonomy)
export(gi2taxid)
export(length.primerTree)
export(plot.primerTree)
export(plot_tree)
export(plot_tree_ranks)
export(primer_search)
export(search_primer_pair)
export(tree_from_alignment)
